

.grouping-row {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: height 2s ease;
    text-wrap: nowrap;
}

.grouping-row.expanded {
    height: auto;
}

.grouping-header {
    border-bottom: 1px solid #444654;
}

.grouping-header:hover {
    background-color: #444654;
    cursor: pointer;
}

.group-item {
    margin-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    text-wrap: nowrap;
    border-left: 2px solid white;
}

.group-item.selected {
    border-left: 2px solid #0078D7;
}

.group-item.selected {
    background-color: #555769;
}

.group-item:hover {
    background-color: #333545;
    cursor: pointer;
}