#left-menu-body {
    background-color: #222430e7;
    height: 90vh;
    width: 10vw;
    overflow: hidden;
    position: absolute;
    top: 5vh;
    left: 0;
    transition: width 0.3s ease;
    z-index: 300;
    direction: ltr;
    text-wrap: nowrap
}
