#right-menu-body {
    background-color: #222430e7;
    height: 90vh;
    max-width: 5vw;
    min-width: 5vw;
    overflow: hidden;
    position: absolute;
    top: 5vh;
    right: 0;
    transition: max-width 0.3s ease, min-width 0.3s ease;
    z-index: 300;
    direction: rtl;
}

#right-menu-body:hover {
    min-width: 15vw;
    max-width: 30vw;
}

#right-menu-header {
    width: 5vw;
    height: 100%;
}

.right-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
}

.right-menu-grouping {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #374055;
}

.right-menu-content {
    flex-shrink: 0;
    align-items: center;
}

.h-20 {
    height: 20% !important;
}

.right-menu-icon {
    margin-left: 1em;
    width: 5vw;
    height: 5vw;
    max-height: 2em;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-menu-icon:hover {
    background-color:#373b55;
}

.right-menu-icon.selected {
    background-color:#5a5f7a;
}
